.modeDark {
  background-color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.modeLight {
  background-color: #6c757d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}
